<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Travel Guide- Dash Board</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="contact.html">Help</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="https://www.instagram.com/">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="https://youtu.be/tkJWtLKRVQA">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold">Travel<span class="text-primary font-weight-bold border px-3 mr-1">Guide</span></h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="http://127.0.0.1:5500/bootstrap-shop-template/cart.html" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge">0</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 1;">
                    <div class="navbar-nav w-100 overflow-hidden" style="height: 410px">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">Adventure <i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a href="heatercover.html" class="dropdown-item">Kufri</a>
                                <a href="aircoolercover.html" class="dropdown-item">Tehri Dam</a>
                                <a href="kettlecover.html" class="dropdown-item">Rishikesh</a>
                                <!-- <a href="lancablecover.html" class="dropdown-item">Lan Cable</a> -->

                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown"> Mountains<i class="fa fa-angle-down float-right mt-1"></i></a>
                        <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                            <a href="cyclecover.html" class="dropdown-item">Himalayas</a>
                            <a href="skates.html" class="dropdown-item">Arunachal Pradesh</a>
                        </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">Snow <i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a href="aircasescover.html" class="dropdown-item">Auli</a>
                                <a href="suitcases.html" class="dropdown-item">Shimla</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">Scenery <i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a href="mousecover.html" class="dropdown-item">Norway</a>
                                <a href="keyboardcover.html" class="dropdown-item">Darjeeling</a>
                                <a href="pendrivescover.html" class="dropdown-item">Sikkim</a>
                            </div>
                        </div>
                        <!-- <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">Musical Instruments <i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a href="guitarcover.html" class="dropdown-item">Guitar</a>
                                <a href="casiocover.html" class="dropdown-item">Casio</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link" data-toggle="dropdown">Others <i class="fa fa-angle-down float-right mt-1"></i></a>
                            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                                <a href="mattressescover.html" class="dropdown-item">Mattresses</a>
                                <a href="bottlescover.html" class="dropdown-item">Bottles</a>
                            </div>
                        </div> -->
                       
                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/index" class="nav-item nav-link">Home</a>
                            <a href="/dashboard" class="nav-item nav-link">DashBoard</a>
                            <a href="/profile" class="nav-item nav-link">Profile</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0">
                            <a href="/login" class="nav-item nav-link">Login/SignUp</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Dash Board</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/index">Home</a></p>
                <p class="m-0 px-2"></p>
                <p class="m-0"></p> 
           </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5" id="headache">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Destination</th>
                            <th>Mode of Transport</th>
                            <th>Date</th>
                           
                            <th>View Trip</th>
                            <th>Add Trip</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">

                 {{!-- {{#x.forEach((y)=>{}}     --}}
                    {{#each p}}
                    
                        <tr>
                            <td class="align-middle"><img src="Pictures/Cycle1" alt="" style="width: 50px;">{{place}}</td>
                            <td class="align-middle">{{transport}}</td>
                            <td>To be Decided</td>
                            <td class="align-middle"><a href="/tourscreen/{{_id}}/" id="checkbox" ><button class="btn btn-sm btn-primary"><i class="fa fa-eye"></i></button></a></td>
                              <td class="align-middle"><a href="/dashboard/{{_id}}" id="checkbox" ><button class="btn btn-sm btn-primary"><i class="fa fa-check"></i></button></a></td> 

                        </tr>  
                        {{/each}} 
                    {{!-- {{})}}       --}}
                        {{!-- <tr>
                            <td class="align-middle"><img src="img/product-3.jpg" alt="" style="width: 50px;"> Shimla</td>
                            <td class="align-middle">$150</td>
                            <td>To be Decided</td>
                            <td class="align-middle"> <a href="/tourscreen"><button onclick="renderTravelPage()" class="btn btn-sm btn-primary" id="ShimlaButton"><i class="fa fa-check"></i></button></a></td>
                          
                        </tr>
                      
                        <tr>
                            <td class="align-middle"><img src="img/product-5.jpg" alt="" style="width: 50px;"> Auli </td>
                            <td class="align-middle">$150</td>
                            <td>To be Decided</td>
                           
                            <td class="align-middle"><a href="/tourscreen"><button class="btn btn-sm btn-primary" id="AuliButton"><i class="fa fa-check"></i></button></a></td>
                        
                        </tr> --}}
                    </tbody>
                </table>
            </div>
              <div class="col-lg-4">
                    
               
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Create a Trip</h4>
                    </div>
                    <div class="card-body">
                 <form class="mb-5" action="/tourscreen" method="POST">

                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <input type="text" placeholder="Where To Go?" name="place" required>                            
                        </div>
                         <div class="d-flex justify-content-between mb-3 pt-1">
                            <input type="text" placeholder="How to Go?(Transport)" name="transport" required>                            
                        </div>
                          {{!-- <p>Add an Image:  
                                    <label for="myfile">Select a file:</label>
                                    <input type="file" id="myfile" name="myfile">
                         </p> --}}
                        <div class="d-flex justify-content-between">
                            <p>Friends to Accompany:
                           <select name="friends" id="Item_Type" required>
                             <option value="" >--Choose your Travel Partners--</option>  
                        {{#each a}}           <option value="{{name}}">{{name}}</option> {{/each}}
                              
                           </select>
                            </p>
                        </div>
                         <div class="d-flex justify-content-between mb-3 pt-1">
                            <input type="text" id="blocktext" placeholder="Details about the trip" name="details" required>                            
                        </div>
                        
                     <p>  <input type="submit" value="SUBMIT" id="creatingTrip" onclick="renderagain()" required></p>

                    </form>
             </div>
                  
            </div>
        </div>
    </div>
    <!-- Cart End -->


     <!-- Footer Start -->
     <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="" class="text-decoration-none">
                    <h1 class="mb-4 display-5 font-weight-semi-bold">Travel<span class="text-primary font-weight-bold border border-white px-3 mr-1">Guide</span></h1>
                </a>
                
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+91 99804 XXXXX</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-dark mb-2" href="index.html"><i class="fa fa-angle-right mr-2"></i>Home</a>
                           
                            <a class="text-dark mb-2" href="cart.html"><i class="fa fa-angle-right mr-2"></i>Travel</a>
                            
                            <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top border-light mx-xl-5 py-4">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-dark">
                    &copy; <a class="text-dark font-weight-semi-bold" href="index.html">Travel Guide</a>
                   
                </p>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <script>
       
      const button= document.getElementsByClassName("fa fa-check")
    
        function rendertourscreen(){
            
            
       
        }

    </script>

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    {{!-- <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></scrip>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>

    <script defer src="../../public/js/dashboard.js"></script> --}}
</body>

</html>